<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Início <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="amortizacao">Amortização</a>
      <a class="nav-item nav-link" href="investimento">Investimentos</a>
      <a class="nav-item nav-link" href="calculadora-juros">Calculadora de Juros</a>
      <a class="nav-item nav-link" href="sequencias">Sequências numéricas</a>
    </div>
  </div>
</nav>
